.noFix
{
	table-layout:auto!important;
}
.transRw
{
	border-top:2px solid #FF0000;
	border-bottom:2px solid #FF0000;
	color: #FF0000;
	overflow:hidden;
	white-space:no-wrap;
	text-overflow:ellipsis;
	padding:3px 50px 3px 3px;
}
.txtRight
{
	text-align:right;
	padding: 3px!important;
}
.homeBtn
{
	color:#FF0000;
	padding:25px 10px 0px 10px;
	overflow:hidden;
}
#space
{
	height:25px;
}
#findbloodID
{
	display: inline-block;
	cursor: pointer;
	border: 2px solid #FF0000;
	position: relative;
	background-color: #FFF;
	float:left;
}
#searchBar
{
	border: 0;
	color: #FF0000;
	padding: 5px;
	font-size: 1em;
	font-family: HelveticaNeue-Light,Helvetica,Arial,sans-serif;
	font-weight: 100;
}
#filterRw
{
	text-align: right;
	color:#FF0000;
	padding:25px 0px 0px 0px;
	overflow:hidden;
}
.dropTop
{
	display: inline-block;
	margin-right: 1px;
	padding: 5px;
	cursor: pointer;
	border: 2px solid #FF0000;
	margin-left:25px;
	position: relative;
	background-color: #FFF;
}
#filtTxt
{

}
#sortTxt
{
	width:48px;
}
.whiteBlock
{
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	height: 5px;
	background-color: #FFF;
	margin-bottom: -7px;
	margin-left: -5px;
	display: none;
}
#filters
{
	display: none;
}
#sorts
{
	display: none;
	width: 188px;
}
.dropTopMargins
{
	margin-top: -3px;
}
.dropDowns
{
	float: right;
	width: 250px;
	border: 2px solid #FF0000;
	color: #FF0000;
}
.filterBox
{
	display: inline-block;
	position: relative;
	margin-left: 5px;
	top: 2px;
	height: 12px;
	width: 12px;
	background-color: #FFF;
	border: 2px solid #FF0000;
	float: right;
	background-image: url('../Icons/tick.svg');
	background-repeat: no-repeat;
    	background-position: center;
	background-size: 10px 10px;
	cursor: pointer;
}
.filterHldr
{
	display: inline-block;
	width: 230px;
	padding: 10px;
}
.sortHldr
{
	display: inline-block;
	width: 168px;
	padding: 10px;
	cursor: pointer;
}
.sortHldr:hover
{
	background-color: #FF0000;
	color: #FFF;
}
#filters:last-child
{
	padding-bottom:0px;
}

#menuBtn
{
	right:-40px!important;
}
.usersDropMargin {
    margin-top: -2px!important;
    margin-right: 0px!important;
}
.userHldr span
{
	margin-left: 15px;
}
#theirUsers span
{
	margin-left:2px;
}
.userHldrRegulator:hover
{
	background-color: #FF0000;
	border-right-color: #FF0000;
	color: #FFF;
}
.userHldrManufacturer:hover
{
	background-color: #016059;
	border-right-color: #016059;
	color: #FFF;
}
.userHldrDealership:hover
{
	background-color: #008A52;
	border-right-color: #008A52;
	color: #FFF;
}
.userHldrLeaseCompany:hover
{
	background-color: #372052;
	border-right-color: #372052;
	color: #FFF;
}
.userHldrLeasee:hover
{
	background-color: #BA0E6F;
	border-right-color: #BA0E6F;
	color: #FFF;
}
.userHldrScrapMerchant:hover
{
	background-color: #DD721B;
	border-right-color: #DD721B;
	color: #FFF;
}
.failureRow
{
	color:#A91024!important;
}
